<h1>Keywords</h1>
@{
    List<string> keywords = new();
    foreach (var property in typeof(KeywordsObj).GetProperties())
    {
        keywords.Add((string)property.GetValue(Translation.Keywords));
    }

    var duplicates = keywords.GroupBy(_ => _).Where(_ => _.Count() > 1).Select(_ => _.Key).ToList();
}
@if (duplicates.Count > 0)
{
    <div class="alert alert-danger" role="alert">
        Following keywords are duplcicates: [@string.Join(", ", duplicates)]
    </div>
}
<table class="table">
    <thead>
        <tr>
            <th>Source</th>
            <th>Translation</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var property in typeof(KeywordsObj).GetProperties())
        {
            <tr>
                <th>@property.GetValue(Source.Keywords)</th>
                <td><TextEditor Property="property" Source="Translation.Keywords" /></td>
            </tr>
        }
    </tbody>
</table>

<h1>Variables</h1>

<table class="table">
    <thead>
        <tr>
            <th>Source</th>
            <th>Translation</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var property in typeof(VariablesObj).GetProperties())
        {
            <tr>
                <th>@property.GetValue(Source.Variables)</th>
                <td><TextEditor Property="property" Source="Translation.Variables" /></td>
            </tr>
        }
    </tbody>
</table>

<h1>StdLib objects</h1>

<table class="table">
    <thead>
        <tr>
            <th>Source</th>
            <th>Translation</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var property in typeof(StdLibObj).GetProperties())
        {
            <tr>
                <th>@property.GetValue(Source.StdLib)</th>
                <td><TextEditor Property="property" Source="Translation.StdLib" /></td>
            </tr>
        }
    </tbody>
</table>
@code {
    [Parameter]
    public LanguageConfiguration Source { get; set; } = null!;

    [Parameter]
    public LanguageConfiguration Translation { get; set; } = null!;
}
