<h1>Keywords</h1>

<table class="table">
    <thead>
        <tr>
            <th>Source</th>
            <th>Translation</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var property in typeof(KeywordsObj).GetProperties())
        {
            <tr>
                <th>@property.GetValue(Source.Keywords)</th>
                <td>@property.GetValue(Translation.Keywords)</td>
            </tr>
        }
    </tbody>
</table>

<h1>Variables</h1>

<table class="table">
    <thead>
        <tr>
            <th>Source</th>
            <th>Translation</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var property in typeof(VariablesObj).GetProperties())
        {
            <tr>
                <th>@property.GetValue(Source.Variables)</th>
                <td>@property.GetValue(Translation.Variables)</td>
            </tr>
        }
    </tbody>
</table>
@code {
    [Parameter]
    public LanguageConfiguration Source { get; set; } = null!;

    [Parameter]
    public LanguageConfiguration Translation { get; set; } = null!;
}
