@inherits LayoutComponentBase
@inject LanguageConfigurationManager languageManager

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <select @onchange="SwitchLanguage" class="form-control form-select">
                @foreach (var item in WellKnownConstants.Languages)
                {
                    <option value="@item">@item</option>
                }
            </select>
            <a href="https://github.com/kant2002/fsharp/" target="_blank">About</a>
        </div>

        <CascadingValue Value="current">
            <article class="content px-4">
                @Body
            </article>
        </CascadingValue>
    </main>
</div>

@code {
    public string Language { get; set; } = "en";

    LanguageConfiguration current;

    protected override async Task OnInitializedAsync()
    {
        languageManager.OnLanguageChanged = (_, __) =>
        {
            current = languageManager.LanguageConfiguration;
            this.StateHasChanged();
        };
        await languageManager.SetLanguageAsync(Language);
    }
    public async Task SwitchLanguage(ChangeEventArgs e)
    {
        Language = (string)e.Value!;
        await languageManager.SetLanguageAsync(Language);
    }
}