@inherits LayoutComponentBase
@inject LanguageConfigurationManager languageManager

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <select @onchange="SwitchLanguage" class="form-control form-select">
                @foreach (var item in WellKnownConstants.Languages)
                {
                    <option value="@item">@item</option>
                }
            </select>
            <a href="https://github.com/kant2002/fsharp/" target="_blank">About</a>
        </div>

        <CascadingValue Value="languageManager.LanguageConfiguration">
            <article class="content px-4">
                @Body
            </article>
        </CascadingValue>
    </main>
</div>

@code {
    public string Language { get; set; } = "en";

    Dictionary<string, LanguageConfiguration> database = new();

    protected override async Task OnInitializedAsync()
    {
        foreach (var lang in WellKnownConstants.Languages)
        {
            var keywords = await languageManager.GetLanguageAsync(lang);
            database[lang] = keywords ?? new();
        }

        languageManager.LanguageConfiguration = database[Language];
    }
    public void SwitchLanguage(ChangeEventArgs e)
    {
        Language = (string)e.Value!;
        languageManager.LanguageConfiguration = database[Language];
    }
}