@page "/"
@using Microsoft.JSInterop
@inject LanguageConfigurationManager languageManager
@inject IJSRuntime JS

<PageTitle>Examples of translations</PageTitle>

<h1>Examples of translations</h1>

<h2>Variables</h2>

@if (keywordsObj is not null)
{
    <CodeEditor Code="@GetCode(keywordsObj)" />
}

@code {
    [CascadingParameter]
    public LanguageConfiguration? keywordsObj { get; set; }

    private string GetCode(LanguageConfiguration lang)
    {
        return $""""
{lang.Keywords.Let} {lang.Variables.Name} = "Andrii"
{lang.Keywords.Let} {lang.Variables.Age} = 41
"""";
    }
}

