@page "/keywords"
@using Microsoft.JSInterop
@inject LanguageConfigurationManager languageManager
@inject IJSRuntime JS

<PageTitle>Keywords</PageTitle>

<div class="alert alert-warning" role="alert">
    <button @onclick="SaveLangugeConfiguration" class="btn btn-primary">Copy to clipboard</button> All changes made on this page are not persisted after refresh. Make sure if you experiment copy to clipboard and send to author.
</div>

@if (keywordsObj is not null)
{
    <KeywordsEditor Source="@englishLanguage" Translation="keywordsObj" />
}

@code {
    public string Language { get; set; } = "en";

    [CascadingParameter]
    public LanguageConfiguration? keywordsObj { get; set; }
    public LanguageConfiguration? englishLanguage { get; set; }

    Dictionary<string, LanguageConfiguration> database = new();

    protected override async Task OnInitializedAsync()
    {
        englishLanguage = await languageManager.GetLanguageAsync("en");
    }

    private async Task SaveLangugeConfiguration()
    {
        await JS.InvokeVoidAsync("writeToClipboard", keywordsObj);
    }
}
