@page "/keywords"
@inject LanguageConfigurationManager languageManager

<PageTitle>Keywords</PageTitle>

<h1>Keywords</h1>

@if (keywordsObj is not null)
{
    <KeywordsEditor Source="@englishLanguage.Keywords" Translation="keywordsObj.Keywords" />
}

@code {
    public string Language { get; set; } = "en";

    [CascadingParameter]
    public LanguageConfiguration? keywordsObj { get; set; }
    public LanguageConfiguration? englishLanguage { get; set; }

    Dictionary<string, LanguageConfiguration> database = new();

    protected override async Task OnInitializedAsync()
    {
        englishLanguage = await languageManager.GetLanguageAsync("en");
    }
}
