@page "/keywords"
@using Microsoft.JSInterop
@inject LanguageConfigurationManager languageManager
@inject IJSRuntime JS

<PageTitle>Keywords</PageTitle>

<button @onclick="SaveLangugeConfiguration">Copy to clipboard</button>

@if (keywordsObj is not null)
{
    <KeywordsEditor Source="@englishLanguage" Translation="keywordsObj" />
}

@code {
    public string Language { get; set; } = "en";

    [CascadingParameter]
    public LanguageConfiguration? keywordsObj { get; set; }
    public LanguageConfiguration? englishLanguage { get; set; }

    Dictionary<string, LanguageConfiguration> database = new();

    protected override async Task OnInitializedAsync()
    {
        englishLanguage = await languageManager.GetLanguageAsync("en");
    }

    private async Task SaveLangugeConfiguration()
    {
        await JS.InvokeVoidAsync("writeToClipboard", keywordsObj);
    }
}
